<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechnoMarket | Eliminar Producto</title>
</head>
<body>
    <h1>Eliminar Producto</h1>

    <p>¿Estás seguro de que deseas eliminar el producto "{{ producto.nombre }}"?</p>

    <form method="post">
        {% csrf_token %}

        <button type="submit">Eliminar Producto</button>
    </form>

    <a href="{% url 'listar_productos' %}">Cancelar</a>
</body>
</html>