<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechnoMarket | Lista de Ventas</title>
</head>
<body>
        <h1>Lista de Ventas</h1>

            <a href="{% url 'agregar_venta' %}">Agregar Nueva Venta</a>
p'´0fvç
        <table border="1">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Cliente</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas %}
                <tr>
                    <td>{{ forloop.counter }}</td> 
                    <td>{{ ventas.cliente.nombre }}</td> 
                    <td>{{ ventas.producto.nombre }}</td> 
                    <td>{{ ventas.cantidad }}</td> 
                    <td>${{ ventas.total }}</td>
                    <td>{{ ventas.fecha_venta }}</td>
                    <td>
                        <a href="{% url 'detalle_venta' venta.id %}">Detalles</a>
                        <a href="{% url 'editar_venta' venta.id %}">Editar</a>
                        <a href="{% url 'eliminar_venta' venta.id %}">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>